/* ========== Progress-Bar ==========*/

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 36px;
    height: 2px;
    background: var(--yellow);
}

/* ========== Header ==========*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 38px;
    z-index: 100;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    z-index: 100;
}

.header__logo:hover {
    cursor: url(../img/cursor.svg), auto;
}

.header__btn {
    position: relative;
    margin-right: 52px;
    padding: 15px 44px 16px 25px;
    background-color: transparent;
}

.header__btn::after {
    content: '';
    position: absolute;
    right: 25px;
    top: 18px;
    width: 11px;
    height: 11px;
    background-image: url(../img/header/make-arrow.svg);
}

/* ========== Navigation ==========*/

nav {
    display: flex;
    align-items: center;
}

.header__list {
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 42px;
}

.nav-item:last-child {
    margin-right: 79px;
}

.nav-link {
    position: relative;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
    transition: color .5s ease-in-out;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--yellow);
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.nav-link:hover::before {
    opacity: 1;
}

.nav-link:hover {
    color: var(--yellow);
    cursor: url(../img/cursor.svg), auto;
}

.nav-link__hot {
    position: absolute;
    top: -3px;
    padding: 0px 3px;
    font-weight: 600;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    background-color: var(--yellow);
}

/* ========== Dropdown ==========*/

.dropdown-menu {
    min-width: 236px;
    background-color: #010101;
}

.dropdown-item {
    background: none;
}

.dropdown-item:hover {
    background-color: transparent;
}

.dropdown-link {
    position: relative;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
    transition: color .5s ease-in-out;
}

.dropdown-link:hover {
    color: var(--yellow);
    cursor: url(../img/cursor.svg), auto;
    text-decoration: none;
}

.dropdown-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--yellow);
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.dropdown-link:hover::after {
    opacity: 1;
}

.dropdown-toggle::after {
    content: '';
    position: relative;
    top: 4px;
    right: -2px;
    width: 13px;
    height: 8px;
    background-image: url(../img/header/drop-arrow.svg);
    background-repeat: no-repeat;
    border: none;
}

/* ========== Burger ==========*/

/* Оформление панели */
#side-checkbox {
    display: none;
}

.side-panel {
    position: fixed;
    z-index: 99;
    top: 0;
    left: -100%;
    background: #010101;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    color: #FFF;
    overflow: auto;
}

.burger-content::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 761px;
    height: 777px;
    background-image: url(../img/contacts/contacts-bg.svg);
    background-repeat: no-repeat;
}

.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #BFE2FF;
}

.side__line {
    position: relative;
    padding-right: 47px;
    height: 100%;
    cursor: pointer;
}

.side__line:hover {
    cursor: url(../img/cursor.svg), auto;
}

.side__line::before,
.side__line::after {
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: all .5s ease 0s;
}

.side__line::before,
.side__line::after {
    content: '';
}

.side__line::before {
    top: 3px;
    width: 30px;
}

.side__line._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}

.side__line::after {
    bottom: 5px;
    width: 17px;
}

.side__line._active::after {
    bottom: 50%;
    width: 30px;
    transform: rotate(45deg) translate(0px, 50%);
}

/* Оформление кнопки на странице */
.side-button-1-wr {
    display: flex;
    z-index: 100;
    /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}

.side-button-1 {
    display: inline-flex;
    align-items: center;
    margin: 0;
}


.side-button-1 .side-b {
    text-decoration: none;
    position: relative;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    
    line-height: 100%;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
}

.side-button-1 .side-b:hover {
    cursor: url(../img/cursor.svg), auto;
}

/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}

#side-checkbox:checked+.side-panel+.side-button-1-wr .side-button-1 .side-open {
    display: none;
}

#side-checkbox:checked+.side-panel+.side-button-1-wr .side-button-1 .side-close {
    display: block;
}

#side-checkbox:checked+.side-panel {
    left: 0;
}

/*======= Burger Settings =======*/

.burger-content {
    position: relative;
    display: flex;
    padding-top: 70px;
}

.burger-content::after {
    content: '';
    position: absolute;
    top: 140px;
    right: -298px;
    width: 761px;
    height: 777px;
    background-image: url(../img/burger-bg.svg);
    background-repeat: no-repeat;
}

.burger-content__left {
    position: relative;
    margin-right: 59px;
    max-width: 606px;
}

.burger-content__left::after {
    content: '';
    position: absolute;
    left: -258px;
    top: 385px;
    width: 136px;
    height: 148px;
    background-image: url(../img/bg-3-min.svg);
    background-repeat: no-repeat;
}

.burger-content__left::before {
    content: '';
    position: absolute;
    top: 53px;
    right: 20px;
    transform: rotate(202deg);
    width: 111px;
    height: 113px;
    background-image: url(../img/bg-2-min.svg);
    background-repeat: no-repeat;
}

.burger-nav {
    margin-bottom: 49px;
}

.burger-item:not(:last-child) {
    margin-bottom: 34px;
}

.burger-link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 100%;
    color: var(--white);
    transition: color .5s ease-in-out;
}

.burger-link:hover {
    text-decoration: none;
    color: var(--yellow);
    cursor: url('../img/cursor.svg'), auto;
}

.burger__link-sub {
    margin-bottom: 16px;
    font-weight: 500;
    color: var(--white);
    transition: color .5s ease-in-out;
}

.burger__link-sub:hover {
    text-decoration: none;
    color: var(--yellow);
    cursor: url('../img/cursor.svg'), auto;
}

.burger__link-sub:not(:last-child) {
    margin-right: 5px;
}

.burger__block-copy {
    padding-bottom: 52px;
}

.burger__block-info {
    z-index: 100;
}

.burger__block-info:after {
    display: none;
}

.burger__block-info::before {
    content: '';
    position: absolute;
    right: 15px;
    top: 400px;
    width: 128px;
    height: 129px;
    background-image: url(../img/bg-1-min.svg);
    background-repeat: no-repeat;
}

.burger__link-contacts {
    position: absolute;
    bottom: 60px;
    right: 72px;
}

/*======= Accordion =======*/

.acor-container .acor-body {
    height: 0;
    color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: var(--second-family);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 10px 16px rgba(0, 0, 0, 0.2);
}

.acor-container .acor-body p {
    margin: 0 0 10px;
}

.acor-container label {
    cursor: pointer;
    display: block;
    width: 100%;
    color: var(--white);
    font-weight: 400;
    box-sizing: border-box;
    z-index: 100;
    font-family: var(--second-family);
    font-size: 52px;
    margin: 0 0 16px;
    transition: color .5s;
}

.acor-container label:hover {
    color: var(--yellow);
}

.acor-container input {
    display: none;
}
.acor-container input:checked+label {
    color: #FFF;
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.acor-container input:checked+label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}

.acor-container input:checked+label+.acor-body {
    height: auto;
    color: #000;
}

/* ========== Hero ==========*/

.hero {
    position: relative;
    top: -42px;
    left: 0px;
    height: 1498px;
    background-image: url(../img/hero/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.hero::after {
    content: '';
    position: absolute;
    left: 181px;
    bottom: 440px;
    width: 112px;
    height: 103px;
    background-image: url(../img/bg-2.svg);
    background-repeat: no-repeat;
}

.hero::before {
    content: '';
    position: absolute;
    right: 682px;
    bottom: 230px;
    width: 122px;
    height: 150px;
    background-image: url(../img/bg-3.svg);
    background-repeat: no-repeat;
}

.hero__content {
    position: relative;
    margin-bottom: 15px;
    padding-top: 191px;
    max-width: 1062px;
}

.hero__content::before {
    content: '';
    position: absolute;
    top: 332px;
    right: -130px;
    width: 159px;
    height: 160px;
    background-image: url(../img/bg-1.svg);
    background-repeat: no-repeat;
}

.hero__rev {
    display: inline-block;
    margin-bottom: 6px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--yellow);
}

.help {
    position: relative;
    left: 160px;
    margin: 0;
    max-width: 615px;
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 140px;
    line-height: 100%;
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
}

.help::after {
    content: '';
    position: absolute;
    right: 3px;
    top: 35px;
    width: 192px;
    height: 77px;
    background-image: url(../img/hero/help-bg.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.ideas {
    margin: 0;
    max-width: 409px;
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 140px;
    line-height: 100%;
    color: var(--white);
}

.change {
    position: relative;
    left: 160px;
    margin: 0;
    max-width: 792px;
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 140px;
    line-height: 100%;
    color: var(--white);
}

.world {
    position: relative;
    left: -110px;
    margin: 0;
    max-width: 807px;
    font-family: var(--second-family);
    font-weight: 900;
    font-size: 140px;
    line-height: 100%;
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
}

.hero__block-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero__nav-down {
    position: relative;
    right: -65px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    border: 1px solid var(--white);
    border-radius: 100%;
    background-image: url(../img/hero/arrow-nav.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero__nav-down:hover {
    cursor: url(../img/cursor.svg), auto;
}

.hero__link {
    display: inline-block;
}

.hero__link:hover {
    cursor: url(../img/cursor.svg), auto;
}

/* ========== About ==========*/

.about {
    position: relative;
}

.about::after {
    content: '';
    position: absolute;
    bottom: 68px;
    width: 177px;
    height: 328px;
    background-image: url(../img/about/about-bg-1.svg);
    background-repeat: no-repeat;
}

.about::before {
    content: '';
    position: absolute;
    right: 0px;
    bottom: -44px;
    width: 175px;
    height: 403px;
    background-image: url(../img/about/about-bg-2.svg);
    background-repeat: no-repeat;
}

.title__block {
    margin-bottom: 30px;
}

.about__content {
    display: flex;
    gap: 30px;
}

.about__content-left {
    position: relative;
    max-width: 539px;
}

.about__content-left::after {
    content: '';
    position: absolute;
    top: -51px;
    left: -222px;
    transform: rotate(210deg);
    width: 112px;
    height: 103px;
    background-image: url(../img/bg-2.svg);
    background-repeat: no-repeat;
}

.about__content-title {
    margin: 0;
    margin-bottom: 24px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);
}

.about__content-descr {
    margin: 0;
    margin-bottom: 29px;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    color: var(--text-color);
}

.about__content-descr--left {
    margin-bottom: 70px;
}

.about__video--block {
    position: relative;
    width: 348px;
    height: 348px;
    overflow: hidden;
    border-radius: 220px;
}

.about__video--block::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    width: 308px;
    height: 308px;
    border-radius: 154px;
    border: 1px solid var(--yellow);
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.about__video--block:hover:before {
    opacity: 0.3;
}

.about__content-video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__video--play {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 0;
    border: none;
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

.about__video--play img {
    width: 32px;
    height: 42px;
}

.about__video--play:hover {
    opacity: 1;
}

.about__video--play:hover {
    cursor: url(../img/cursor.svg), auto;
}

.about__content-right {
    position: relative;
    max-width: 539px;
}

.about__content-right::after {
    content: '';
    position: absolute;
    top: 42px;
    right: -208px;
    transform: rotate(-45deg);
    width: 126px;
    height: 150px;
    background-image: url(../img/bg-3.svg);
    background-repeat: no-repeat;
}

.about__content-right::before {
    content: '';
    position: absolute;
    bottom: -66px;
    left: 37px;
    transform: rotate(29deg);
    width: 159px;
    height: 160px;
    background-image: url(../img/bg-1.svg);
    background-repeat: no-repeat;
}

.about__content-descr--bottom {
    margin-bottom: 21px;
}

.about__content-rating {
    display: flex;
    align-items: center;
    gap: 16px;
}

.about__content-rev img {
    margin-right: 2px;
}

.rev {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--text-color);
}

.about__block-contacts {
    display: flex;
    justify-content: flex-end;
}

.about__link {
    display: inline-block;
    z-index: 10;
}

.about__link:hover {
    cursor: url(../img/cursor.svg), auto;
}

/* ========== Services ==========*/

.services {
    position: relative;
    padding-top: 176px;
    padding-bottom: 130px;
}

.services::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 27px;
    width: 496px;
    height: 860px;
    background-image: url(../img/services/services-bg.svg);
    background-repeat: no-repeat;
}

.services__title-block {
    margin-bottom: 28px;
}

.services__list {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.services__item {
    grid-column: 4 span;
}

.services__item img {
    margin-bottom: 31px;
}

.services__title {
    margin: 0;
    margin-bottom: 24px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);
}

.services__descr {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    color: var(--text-color);
}

.services__link {
    position: relative;
    display: inline-block;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    color: var(--yellow);
}

.services__link::before {
    content: '';
    position: absolute;
    top: 2px;
    right: -18px;
    width: 11px;
    height: 11px;
    background-image: url(../img/header/make-arrow.svg);
    background-repeat: no-repeat;
}

.services__link:hover {
    color: var(--yellow);
    text-decoration: none;
    cursor: url(../img/cursor.svg), auto;
}

/* ========== Expertise ==========*/

.expertise {
    padding-bottom: 134px;
}

.expertise__title-block {
    margin-bottom: 28px;
}

.expertise__list {
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.expertise__list::after {
    content: '';
    position: absolute;
    right: -64px;
    bottom: -98px;
    transform: rotate(30deg);
    width: 161px;
    height: 161px;
    background-image: url(../img/bg-1.svg);
    background-repeat: no-repeat;
}

.expertise__item {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 span;
    border: 1px solid var(--black);
    transition: border .5s ease-in-out;
}

.expertise__item:hover {
    border-left: 4px solid var(--yellow);
    border-bottom: 4px solid var(--yellow);
}

.expertise__link {
    display: inline-block;
    padding: 30px 40px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: var(--white);
    transition: color .5s ease-in-out;
}

.expertise__link:hover {
    color: var(--yellow);
    text-decoration: none;
    cursor: url(../img/cursor.svg), auto;
}

/* ========== Stack ==========*/

.stack {
    position: relative;
}

.stack::after {
    content: '';
    position: absolute;
    bottom: -130px;
    left: 0;
    width: 351px;
    height: 679px;
    background-image: url(../img/stack/stack-bg-1.svg);
    background-repeat: no-repeat;
}

.stack::before {
    content: '';
    position: absolute;
    top: -70px;
    right: 0;
    width: 407px;
    height: 863px;
    background-image: url(../img/stack/stack-bg-2.svg);
    background-repeat: no-repeat;
}

.stack__title-block {
    margin-bottom: 30px;
}

.stack__block {
    margin-bottom: 32px;
}

.stack__web {
    position: relative;
}

.stack__web::after {
    content: '';
    position: absolute;
    top: 4px;
    left: -234px;
    transform: rotate(-146deg);
    width: 148px;
    height: 145px;
    background-image: url(../img/bg-2.svg);
    background-repeat: no-repeat;
}

.stack__mob {
    position: relative;
}

.stack__mob::before {
    content: '';
    position: absolute;
    top: 18px;
    right: -207px;
    transform: rotate(15deg);
    width: 136px;
    height: 148px;
    background-image: url(../img/bg-3.svg);
    background-repeat: no-repeat;
}

.stack__title {
    margin: 0;
    margin-bottom: 32px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);
}

.stack__list {
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.stack__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 span;
    padding: 28px 0;
    border: 1px solid var(--black);
    transition: border .5s ease-in-out;
}

.stack__item img {
    margin-bottom: 18px;
}

.stack__item:hover {
    border-left: 4px solid var(--yellow);
    border-bottom: 4px solid var(--yellow);
}

.stack__link {
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
    
    line-height: 100%;
    text-align: center;
    color: var(--white);
    transition: color .5s ease-in-out;
}

.stack__link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stack__link:hover {
    text-decoration: none;
    color: var(--yellow);
    cursor: url(../img/cursor.svg), auto;
}

/* ========== Projects ==========*/

.projects {
    position: relative;
    padding-top: 100px;
    padding-bottom: 132px;
}

.projects::after {
    content: '';
    position: absolute;
    top: 886px;
    right: 12px;
    width: 934px;
    height: 930px;
    background-image: url(../img/projects/projects-bg.svg);
    background-repeat: no-repeat;
}

.projects__title-block {
    margin-bottom: 30px;
}

.projects__list {
    position: relative;
    z-index: 100;
}

.projects__item {
    position: relative;
    display: flex;
    gap: 35px;
    margin-bottom: 56px;
    transition: border .5s ease-in-out, background .5s ease-in-out;
}

.projects__name {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    text-align: right;
    color: var(--white);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.projects__preview-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 346px;
    background-image: url(../img/projects/projects-img-1.jpg);
    background-repeat: no-repeat;
    transition: border .5s ease-in-out, opacity .5s ease-in-out;
}

.projects__preview:hover {
    border-left: 4px solid var(--yellow);
    border-bottom: 4px solid var(--yellow);
    opacity: 0.6;
}

.projects__preview-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 346px;
    background-image: url(../img/projects/projects-img-2.jpg);
    background-repeat: no-repeat;
    transition: border .5s ease-in-out, opacity .5s ease-in-out;
}

.projects__preview-three {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 346px;
    background-image: url(../img/projects/projects-img-3.jpg);
    background-repeat: no-repeat;
    transition: border .5s ease-in-out, opacity .5s ease-in-out;
}

.projects__preview-four {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 346px;
    background-image: url(../img/projects/projects-img-4.jpg);
    background-repeat: no-repeat;
    transition: border .5s ease-in-out, opacity .5s ease-in-out;
}

.projects__preview-five {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 346px;
    background-image: url(../img/projects/projects-img-5.jpg);
    background-repeat: no-repeat;
    transition: border .5s ease-in-out, opacity .5s ease-in-out;
}

.projects__link {
    position: relative;
    top: 3px;
    left: -42px;
    display: inline-block;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    color: var(--yellow);
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.projects__link::after {
    content: '';
    position: absolute;
    right: -20px;
    width: 14px;
    height: 15px;
    background-image: url(../img/projects/pro-arrow.svg);
    background-repeat: no-repeat;
}

.projects__link::before {
    content: '';
    position: absolute;
    top: -168px;
    left: -418px;
    min-width: 1044px;
    height: 346px;
}

.projects__link:hover {
    opacity: 1;
    color: var(--yellow);
    text-decoration: none;
    cursor: url(../img/cursor.svg), auto;
}

.projects__block-btn {
    display: flex;
    justify-content: flex-end;
}

.projects__btn {
    position: relative;
    padding: 41px 0;
    width: 1041px;
}

.projects__btn::after {
    content: '';
    position: absolute;
    top: 44px;
    right: 40%;
    width: 13px;
    height: 12px;
    background-image: url(../img/header/make-arrow.svg);
    background-repeat: no-repeat;
}

/* ========== Reviews ==========*/

.reviews {
    position: relative;
    padding-bottom: 307px;
}

.reviews::after {
    content: '';
    position: absolute;
    top: 126px;
    left: 208px;
    width: 130px;
    height: 130px;
    background-image: url(../img/bg-1-min.svg);
    background-repeat: no-repeat;
}

.reviews::before {
    content: '';
    position: absolute;
    top: 291px;
    right: 169px;
    width: 113px;
    height: 111px;
    background-image: url(../img/bg-2-min.svg);
    background-repeat: no-repeat;
}

.reviews__title-block {
    margin-bottom: 30px;
}

.reviews__sliders-content {
    display: flex;
    justify-content: space-between;
}

.reviews__sliders-content--left {
    margin-top: 51px;
    max-width: 540px;
}

.reviews__sliders-text {
    display: inline-block;
    margin-bottom: 24px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    color: var(--yellow);
}

.reviews__sliders-name {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: var(--white);
}

.reviews__sliders-descr {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    color: var(--text-color);
}

.reviews__content-rev {
    margin-right: 8px;
}

.reviews__video--block {
    margin-bottom: 52px;
}

.reviews__nav-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews__nav-block::after {
    content: '';
    position: absolute;
    left: -168px;
    width: 556px;
    height: 529px;
    background-image: url(../img/reviews/reviews-bg.svg);
    background-repeat: no-repeat;
}

.reviews__sliders-pag {
    display: flex;
    align-items: center;
}

.swiper-pagination-bullet {
    margin: 0;
    margin-right: 20px !important;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #272727;
}

.swiper-pagination-bullet-active {
    width: 24px;
    height: 24px;
    border-top: 1px solid var(--yellow);
    border-right: 1px solid var(--yellow);
    border-bottom: 1px solid var(--yellow);
    transform: rotate(45deg);
}

.reviews__sliders-nav {
    display: flex;
    gap: 30px;
    margin-right: 8px;
}

.sliders__nav-prev {
    transition: border .5s ease-in-out;
}

.sliders__nav-prev:focus {
    outline: none;
    border-left: 1px solid var(--yellow);
}

.sliders__nav-prev:hover {
    outline: none;
    border-left: 1px solid var(--yellow);
    cursor: url(../img/cursor.svg), auto;
}

.sliders-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border: 1px solid #5e5e5e;
    border-radius: 100%;
}

.sliders__nav-next:focus {
    outline: none;
    border-left: 1px solid var(--yellow);
} 

.sliders__nav-next:hover {
    outline: none;
    border-left: 1px solid var(--yellow);
    cursor: url(../img/cursor.svg), auto;
}

.sliders__nav-next {
    transition: border .5s ease-in-out;
    transform: rotate(180deg);
}

.slider-arrow {
    position: relative;
}

.slider-arrow:hover path {
    stroke: var(--yellow);
    transition: stroke .5s ease-in-out;
    cursor: url(../img/cursor.svg), auto;
}

/* ========== Contacts ==========*/

.contacts {
    position: relative;
    padding-bottom: 236px;
}

.contacts::before {
    content: '';
    position: absolute;
    top: -22px;
    right: 60px;
    width: 835px;
    height: 816px;
    background-image: url(../img/contacts/contacts-bg.svg);
    background-repeat: no-repeat;
}

.contacts__title-block {
    margin-bottom: 30px;
}

.contacts__content {
    display: flex;
}

.contacts__block-form {
    position: relative;
    margin-right: 125px;
    min-width: 540px;
}

.contacts__block-form::after {
    content: '';
    position: absolute;
    left: -276px;
    top: 98px;
    transform: rotate(-108deg);
    width: 99px;
    height: 101px;
    background-image: url(../img/bg-2-min.svg);
    background-repeat: no-repeat;
}

.form__item {
    margin-bottom: 32px;
}

.form__item-text {
    margin-bottom: 21px;
}

.form__label {
    display: block;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: var(--text-color);
}

.form__input {
    padding-bottom: 11px;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    outline: none;
    color: var(--white);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #272727;
    cursor: url(../img/cursor.svg), auto;
}

.form__input:focus {
    border-bottom: 1px solid var(--yellow);
}

.form__input:active {
    border-bottom: 1px solid var(--white);
}

.form__input-text {
    height: 38px;
    overflow: hidden;
    resize: none;
}

.form__input._error {
    border-bottom: 1px solid red;
}

.file__item {
    position: relative;
    margin-bottom: 42px;
    border-bottom: 1px solid #272727;
}

.file__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: url(../img/cursor.svg), auto;
}

.file__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11px;
    padding: 6px 12px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: #1f1f1f;
    border-radius: 25px;
    background-color: var(--white);
}

.file__btn::after {
    content: '';
    position: absolute;
    right: 5px;
    width: 10px;
    height: 20px;
    background-image: url(../img/contacts/file-download.svg);
    background-repeat: no-repeat;
}

.form__button {
    position: relative;
    padding: 20px 43px 19px 26px;
}

.form__button::after {
    content: '';
    position: absolute;
    right: 21px;
    top: 23px;
    width: 15px;
    height: 13px;
    background-image: url(../img/header/make-arrow.svg);
    background-repeat: no-repeat;
}

.contacts__block-info {
    position: relative;
}

.contacts__block-info::after {
    content: '';
    position: absolute;
    right: -40px;
    top: 170px;
    width: 128px;
    height: 129px;
    background-image: url(../img/bg-1-min.svg);
    background-repeat: no-repeat;
}

.contacts__info {
    margin: 0;
    margin-bottom: 32px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: var(--white);
}

.contacts__address {
    margin-bottom: 42px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: var(--text-color);
}

.contacts__phone {
    display: flex;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);
    transition: color .5s ease-in-out;
}

.contacts__phone:hover {
    text-decoration: none;
    color: var(--yellow);
    cursor: url(../img/cursor.svg), auto;
}

.contacts__info-social {
    margin-top: 42px;
}

.contacts__link {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #1a1a1a;
    transition: background .5s ease-in-out;
}


.contacts__link:hover {
    background-color: var(--yellow);
    cursor: url(../img/cursor.svg), auto;
}

.contacts__link:not(:last-child) {
    margin-right: 12px;
}

.contacts__link svg {
    fill: var(--white);
    transition: fill .5s ease-in-out;
}

.contacts__link:hover  svg{
    fill: var(--black);
}

/* ========== Footer ==========*/

.footer {
    position: relative;
    margin-bottom: 52px;
}

.footer::after {
    content: '';
    position: absolute;
    right: 419px;
    top: 280px;
    width: 130px;
    height: 130px;
    background-image: url(../img/bg-1-min.svg);
    background-repeat: no-repeat;
}

.footer::before {
    content: '';
    position: absolute;
    top: -46px;
    right: 110px;
    width: 761px;
    height: 777px;
    background-image: url(../img/footer-bg.svg);
    background-repeat: no-repeat;
}

.footer__content {
    position: relative;
}

.footer__content::after {
    content: '';
    position: absolute;
    left: -260px;
    top: 303px;
    width: 136px;
    height: 148px;
    background-image: url(../img/bg-3-min.svg);
    background-repeat: no-repeat;
}

.footer__content::before {
    content: '';
    position: absolute;
    top: -42px;
    left: 555px;
    transform: rotate(206deg);
    width: 113px;
    height: 115px;
    background-image: url(../img/bg-2-min.svg);
    background-repeat: no-repeat;
}

.footer__list {
    margin-bottom: 100px;
}

.footer__item:not(:last-child) {
    margin-bottom: 32px;
}

.footer__link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 52px;
    line-height: 100%;
    color: var(--white);
    transition: color .5s ease-in-out;
}

.footer__link:hover {
    text-decoration: none;
    color: var(--yellow);
    cursor: url(../img/cursor.svg), auto;
}

.footer__block-copy {
    display: flex;
}

.footer__block-copy small {
    margin-right: 100px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    color: #3f3f3f;
}

.footer__link-privacy {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    color: #3f3f3f;
    transition: color .5s ease-in-out;
}

.footer__link-privacy:hover {
    text-decoration: none;
    color: var(--yellow);
    cursor: url(../img/cursor.svg), auto;
}

/* ========== Btn Navigation ==========*/

.upbtn {
    z-index: 9999;
    width: 72px;
    height: 72px;
    color: #FFF;
    position: fixed;
    bottom: 52px;
    right: 72px;
    cursor: url(../img/cursor.svg), auto;
    border: none;
    border-radius: 50%;
    transform: scale(0);
    transition: all .7s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--yellow);
    background-image: url(../img/upbtn-arrow.svg);
}

.upbtn:hover {
    transform: scale(1.2) !important;
}

/* ========== Cookie ==========*/

.cookie_notice {
    display: none;
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 15px 50px;
    border-top: 1px solid var(--black);
}

.cookie_notice._active {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookie__notice-left {
    display: flex;
    align-items: center;
}

/* Оформление кнопок */
.cookie__privace {
    margin-right: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: var(--white);
    transition: color .5s ease-in-out;
}

.cookie__privace:hover {
    color: var(--yellow);
    text-decoration: none;
    cursor: url(../img/cursor.svg), auto;
}

.cookie__info {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--text-color);
}

.info {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: var(--white);
}

.accept {
    padding: 11px 20px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: right;
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

.cookie_btn {
    transition: color .5s ease-in-out;
}

.cookie_btn:hover {
    color: var(--yellow);
    text-decoration: none;
    cursor: url(../img/cursor.svg), auto;
}

/* ========== Error ==========*/

.error {
    position: relative;
    padding-bottom: 189px;
}

.error::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 646px;
    height: 940px;
    background-image: url(../img/404/error-bg.svg);
    background-repeat: no-repeat;
}

.error::before {
    content: '';
    position: absolute;
    top: 441px;
    left: 133px;
    width: 109px;
    height: 109px;
    background-image: url(../img/bg-1-107x107.svg);
    background-repeat: no-repeat;
}

.error__header {
    padding-top: 50px;
}

.error__item:last-child {
    margin-right: 53px;
}

.error-link::after {
    display: none;
}

.error__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 308px;
}

.error__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error__content::after {
    content: '';
    position: absolute;
    top: 307px;
    right: -417px;
    width: 102px;
    height: 111px;
    background-image: url(../img/bg-2-102x111.svg);
    background-repeat: no-repeat;
}

.error__content img {
    margin-bottom: 39px;
}

.error__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 72px;
    line-height: 130%;
    text-align: center;
    color: var(--white);
}

.error__title-dark {
    position: absolute;
    left: 77px;
    top: 253px;
}

.error__descr {
    margin: 0;
    margin-bottom: 52px;
    max-width: 730px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--white);
}

.error__btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 108px;
    padding: 15px 47px 16px 26px;
}

.error__btn:hover {
    color: var(--yellow);
    text-decoration: none;
}

.error__btn::before {
    content: '';
    position: absolute;
    top: 18px;
    right: 24px;
    width: 10px;
    height: 10px;
    background-image: url(../img/header/make-arrow.svg);
    background-repeat: no-repeat;
}

.error__nav-down {
    right: 0;
}

.footer-error__item:not(:last-child) {
    margin-bottom: 35px;
}

/* ========== Career Page ==========*/

.career {
    position: relative;
    padding-top: 168px;
}

.career::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    width: 392px;
    height: 940px;
    background-image: url(../img/career-bg.svg);
    background-repeat: no-repeat;
}

.career::before {
    content: '';
    position: absolute;
    bottom: 88px;
    left: 223px;
    width: 109px;
    height: 109px;
    background-image: url(../img/bg-1-107x107.svg);
    background-repeat: no-repeat;
}

.career__content {
    position: relative;
}

.career__content::before {
    content: '';
    position: absolute;
    right: -195px;
    top: 214px;
    width: 102px;
    height: 111px;
    background-image: url(../img/bg-2-102x111.svg);
    background-repeat: no-repeat;
}

.career__content-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
}

.career__block-info {
    margin-top: 8px;
    max-width: 540px;
}

.career__title-block {
    margin: 0;
}

.career__title {
    margin: 0;
    margin-bottom: 26px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: var(--white);
}

.career__descr {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
}

.career__vacancies {
    margin: 0;
    margin-bottom: 52px;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: var(--white);
}

.career__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
    padding-left: 30px;
    border: 1px solid var(--black);
}

.career__item:last-child {
    margin-bottom: 0;
}

.career__item-left {
    display: flex;
    align-items: center;
}

.career__vacancies-position {
    margin-right: 10px;
    padding: 0 4px;
    font-weight: 600;
    font-size: 12px;
    color: #000;
    background: var(--white);
    text-transform: uppercase;
}

.career__vacancies-name {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);
}

.career__vacancies-hot {
    margin-left: 10px;
    padding: 0 4px;
    font-weight: 600;
    font-size: 12px;
    color: #000;
    background: var(--yellow);
    text-transform: uppercase;
}

.career__vacancies-salary {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--white);
}

.career__vacancies-salary--php {
    margin-left: 70px;
}

.career__vacancies-salary--word {
    margin-right: 26px;
}

.career__item-right {
    display: flex;
    align-items: center;
}

.career__vacancies-city {
    display: block;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--white);
}

.career__link {
    padding: 24px 32px;
    transition: color .5s ease-in-out, background .5s ease-in-out;
}

.career__link:hover {
    color: var(--black);
    background-color: var(--yellow);
    text-decoration: none;
}

.career__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.career__link-contacts {
    position: relative;
    top: -60px;
}

.form__item-career {
    margin-bottom: 35px;
}

.career__contacts {
    padding-bottom: 258px;
}

.career__contacts::before {
    top: 60px;
}

.contacts__block-form__career::after {
    left: -176px;
    top: -80px;
}

.contacts__block-form__career:before {
    content: '';
    position: absolute;
    bottom: 131px;
    left: -258px;
    width: 136px;
    height: 148px;
    background-image: url(../img/bg-3-min.svg);
    background-repeat: no-repeat;
}

.contacts__block-info__career::after {
    top: 249px;
}

.footer__career::after {
    right: 416px;
    top: 257px;
}
.footer__career::before {
    top: -70px;
}

.footer__content-career::before {
    top: -66px;
    left: 557px;
}

.footer__content-career::after {
    left: -258px;
    top: 280px;
}

/* ========== Vacancie Page ==========*/

.view {
    position: relative;
    padding-top: 156px;
    padding-bottom: 130px;
}

.view::after {
    content: '';
    position: absolute;
    top: 24px;
    left: 0;
    width: 392px;
    height: 941px;
    background-image: url(../img/vacancie/vacancie-bg.svg);
    background-repeat: no-repeat;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 44px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: var(--white);
    transition: color .5s ease-in-out;
}

.breadcrumbs svg {
    margin-right: 18px;
    stroke: var(--white);
    transition: stroke .5s ease-in-out;
}

.breadcrumbs:hover {
    color: var(--yellow);
    text-decoration: none;
    cursor: url(../img/cursor.svg), auto;
}

.breadcrumbs:hover svg {
    stroke: var(--yellow);
}

.view__block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.view__title {
    position: relative;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 52px;
    color: var(--white);
}

.view__btn {
    position: relative;
    padding: 20px 43px 19px 26px;
}

.view__btn::after {
    content: '';
    position: absolute;
    top: 24px;
    right: 26px;
    width: 11px;
    height: 11px;
    background-image: url(../img/header/make-arrow.svg);
    background-repeat: no-repeat;
}

.view__btn:hover {
    color: var(--yellow);
}

.view__content {
    display: flex;
    gap: 60px;
    margin-bottom: 46px;
}

.view__content-left {
    max-width: 510px;
}

.view__content-title {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: var(--white);
}

.view__content-info {
    display: flex;
    gap: 30px;
    margin-bottom: 24px;
}

.view__content-location {
    min-width: 255px;
}

.view__content-location span {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--yellow);
}

.view__content-subtitle {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
}

.view__content-salary {
    min-width: 255px;
}

.view__content-salary span{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--yellow);
}

.view__content-list {
    margin: 0;
    margin-bottom: 24px;
    padding-left: 16px;
}

.view__content-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--white);
}

.view__content-list--reset {
    padding: 0;
}

.view__content-right {
    max-width: 510px;
}

.view__block-gallery {
    display: flex;
    align-items: center;
    gap: 30px;
}

.view__link {
    position: absolute;
    bottom: 368px;
    right: 72px;
}

.view__contacts {
    position: relative;
    padding-bottom: 190px;
}

.view__contacts::after {
    content: '';
    position: absolute;
    top: 260px;
    right: 348px;
    width: 660px;
    height: 679px;
    background-image: url(../img/vacancie/view-bg.svg);
    background-repeat: no-repeat;
}

.view__contacts::before {
    display: none;
}

.view__block-form {
    margin-right: 122px;
    min-width: 445px;
}

.view__block-form::after {
    left: -176px;
    top: -81px;
}

.file__btn-view {
    padding: 3px 20px;
}

.view__block-person {
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.view__block-contacts {
    padding: 33px 30px 30px 20px;
    background-color: var(--yellow);
}

.view__block-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.view__name {
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #0c0c0c;
}

.view__pos {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #0c0c0c;
}

.view__btn-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    max-height: 56px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    color: var(--black);
    border: 1px solid var(--black);
    transition: color .5s ease-in-out, background .5s ease-in-out;
}

.view__btn-message:hover {
    color: var(--yellow);
    background-color: var(--black);
    text-decoration: none;
    cursor: url(../img/cursor.svg), auto;
}

.view__btn-message svg {
    margin-right: 12px;
    fill: #212121;
    transition: fill .5s ease-in-out;
}

.view__btn-message:hover svg {
    fill: var(--yellow);
}

.view__block-bottom {
    display: flex;
    justify-content: space-between;
    max-width: 453px;
}

.view__phone {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #0c0c0c;
    transition: color .5s ease-in-out;
}

.view__phone:hover {
    color: var(--black);
    text-decoration: none;
    cursor: url(../img/cursor.svg), auto;
}

.view__block-social {
    display: flex;
    gap: 16px;
}

.view__block-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid var(--black);
    border-radius: 100%;
}

.view__block-link:hover {
    cursor: url(../img/cursor.svg), auto;
}

/* ========== Privacy Page ==========*/

.privacy {
    position: relative;
    padding-top: 154px;
    padding-bottom: 125px;
}

.privacy::after {
    content: '';
    position: absolute;
    top: 601px;
    right: 0;
    width: 371px;
    height: 813px;
    background-image: url(../img/privacy/privacy-bg-top1.svg);
    background-repeat: no-repeat;
}

.privacy__breadcrumbs {
    margin-bottom: 55px;
}

.privacy__content {
    margin-bottom: 72px;
}

.privacy__content:last-child {
    margin-bottom: 0;
}

.privacy__title {
    margin: 0;
    margin-bottom: 52px;
    font-weight: 500;
    font-size: 52px;
    line-height: 130%;
    color: var(--white);
}

.privacy__title-bottom {
    margin-bottom: 37px;
}

.privacy__block-info--top {
    margin-bottom: 52px;
}

.privacy__block-info--bottom {
    margin-bottom: 37px;    
}


.privacy__block-info:last-child {
    margin-bottom: 0;
}

.privacy__block-info span {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--white);
}

.privacy-bg-left {
    position: relative;
}

.privacy-bg-left::after {
    content: '';
    position: absolute;
    top: -346px;
    left: -596px;
    width: 487px;
    height: 945px;
    background-image: url(../img/privacy/privacy-bg-top2.svg);
    background-repeat: no-repeat;
}

.privacy-bg-right {
    position: relative;
}

.privacy-bg-right::before {
    content: '';
    position: absolute;
    top: -264px;
    right: -578px;
    width: 371px;
    height: 813px;
    background-image: url(../img/privacy/privacy-bg-top1.svg);
    background-repeat: no-repeat;
}

.privacy-bg-left--art2::after {
    content: '';
    position: absolute;
    top: 503px;
    left: -593px;
    width: 487px;
    height: 945px;
    background-image: url(../img/privacy/privacy-bg-top2.svg);
    background-repeat: no-repeat;
}

.privacy-bg-right--art5::before {
    top: -294px;
}

.privacy-bg-left--art7::after {
    top: 11px;
}

.privacy__text {
    margin: 0;
    max-width: 715px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--white);
}

.privacy__subtitle {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);
}

.privacy__subtitle-bottom {
    margin-bottom: 32px;
}

.privacy__descr {
    margin: 0;
    margin-bottom: 34px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--white);
}

.privacy__list {
    margin: 0;
    margin-bottom: 33px;
    padding: 0;
    list-style: inside;
}

.privacy__list-sub {
    margin-top: 18px;
    padding-left: 25px;
}

.privacy__item {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--yellow);
}

.privacy__item-sub {
    margin-bottom: 18px;
}

.privacy__item-sub:last-child {
    margin-bottom: 0;
}

.privacy__item:last-child {
    margin-bottom: 0;
}

.privacy__item a {
    color: var(--yellow);
}

.privacy__item:hover a {
    color: var(--yellow);
    cursor: url(../img/cursor.svg), auto;
    text-decoration: none;
}

.privacy__item span {
    color: var(--white);
}
